<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-App-76x76</string>
					<string>Icon-App-83.5x83.5</string>
					<string>Icon-App-40x40</string>
					<string>Icon-App-60x60</string>
					<string>Icon-App-20x20</string>
					<string>Icon-App-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>LightIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lightIcon-App-40x40</string>
					<string>lightIcon-App-20x20</string>
					<string>lightIcon-App-60x60</string>
					<string>lightIcon-App-29x29</string>
					<string>lightIcon-App-76x76</string>
					<string>lightIcon-App-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>小房子</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>小房子</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>小猫</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>小猫</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>邮件信息</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>邮件信息</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>默认icon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleTypeName</key>
	<string>com.myapp.common-data</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx60d36f0847db422c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sina</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3921700954</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
	</array>
	<key>LSItemContentTypes</key>
	<array>
		<string>com.microsoft.powerpoint.ppt</string>
		<string>public.item</string>
		<string>com.microsoft.word.doc</string>
		<string>com.adobe.pdf</string>
		<string>com.microsoft.excel.xls</string>
		<string>public.image</string>
		<string>public.content</string>
		<string>public.composite-content</string>
		<string>public.archive</string>
		<string>public.audio</string>
		<string>public.movie</string>
		<string>public.text</string>
		<string>public.data</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
