<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-App-76x76</string>
					<string>Icon-App-83.5x83.5</string>
					<string>Icon-App-40x40</string>
					<string>Icon-App-60x60</string>
					<string>Icon-App-20x20</string>
					<string>Icon-App-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>LightIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lightIcon-App-40x40</string>
					<string>lightIcon-App-20x20</string>
					<string>lightIcon-App-60x60</string>
					<string>lightIcon-App-29x29</string>
					<string>lightIcon-App-76x76</string>
					<string>lightIcon-App-83.5x83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>默认icon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleTypeName</key>
	<string>com.myapp.common-data</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxc85cef5f6ea96402</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb1582112744</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>katan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx22ffa29d07dc4d59</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk3.3</string>
		<string>katan</string>
	</array>
	<key>LSItemContentTypes</key>
	<array>
		<string>com.microsoft.powerpoint.ppt</string>
		<string>public.item</string>
		<string>com.microsoft.word.doc</string>
		<string>com.adobe.pdf</string>
		<string>com.microsoft.excel.xls</string>
		<string>public.image</string>
		<string>public.content</string>
		<string>public.composite-content</string>
		<string>public.archive</string>
		<string>public.audio</string>
		<string>public.movie</string>
		<string>public.text</string>
		<string>public.data</string>
	</array>
	<key>MOBAppKey</key>
	<string>36e397597e74a</string>
	<key>MOBAppSecret</key>
	<string>006068bcd25c66f2493091b4ea649b9c</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>是否允许此App使用你的麦克风？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许此App访问你的媒体资料库？</string>
	<key>NSCameraUsageDescription</key>
	<string>是否允许此App使用你的相机？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要通过您的地理位置信息获取您周边的相关数据</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要通过您的地理位置信息获取您周边的相关数据</string>
</dict>
</plist>
