<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-09-28T00:44:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/xwan-iossdk/Desktop/Work/YXStitch/YXStitch.xcworkspace</string>
</dict>
</plist>
